{% extends "base.html" %}

{% block title %}
    <title>English Tense</title>
{% endblock %}

{% block content %}
    <h1 style="color: green;">Hi! {Golf} Natthaphat</h1>
    <hr>
    <br>
    
    <div row>
        <div><!--Future Simple-->
            <p>
                <h2 style="text-align:center; background: blue; color: white;">Future Simple</h2>
            </p>
            <p>
                <h4 style="color:blue">Future Simple</h4>
                <h4 style="color:green"><i>Subject + will/be going to + Verb 1</i></h4>
                <h4 style="color:palevioletred"><b>He will clean the chair. / He is going to clean the chair.</b></h4>              
                <h4 style="color:red"><b>การใช้</b></h4>
                
                <ul type = "disc">
                    <li>                      
                        <h3 style="color:blue"><i>สามารถใช้ shall แทน will ได้ ถ้าประธานของประโยคเป็น I / We<br></i></h3>
                        <h3 style="color:blue"><i>การใช้ ใช้กับเหตุการณ์หรือการกระทำที่จะเกิดขึ้นในอนาคต โดยมักใช้กับ Adverb of Time เช่น
                            tomorrow, next, soon, shortly, later เป็นต้น<br></i></h3>
                        <h3 style="color:red"><i>He <u>will return</u> tomorrow.</i></h3>
                        <h3 style="color:green"><i>เขาจะกลับพรุ่งนี้</i></h3>
                        
                    </li>
                    
                    <h4 style="color:darkmagenta"><b>การใช้ is/am/are going to แทน will</b></h4>

                    <li>                      
                        <h3 style="color:blue"><i>ใช้เมื่อกล่าวถึงการกระทำและเหตุการณ์ในอนาคตซึ่งได้
                            <u>กำหนดหรือวางแผน</u>เอาไว้แล้ว หรือบอก<u>แผนการ</u>หรือ
                            <u>เห็นได้ว่ากำลังจะเกิดขึ้นโดยคาดเดาจากเหตุการณ์ที่ปรากฎตรงหน้า</u><br></i></h3>
                        <h3 style="color:red"><i>We <u>are going to have</u> a picnic on Sunday for sure.</i></h3>
                        <h3 style="color:green"><i>เราจะไปกินปิกนิกวันอาทิตย์แน่นอน</i></h3>
                        <h3 style="color:red"><i>Your ice cream <u>is going to melt</u> in a minute.</i></h3>
                        <h3 style="color:green"><i>ไอศครีมของคุณกำลังจะละลายในอีกนาทีข้างหน้า</i></h3>
                        
                    </li>

                </ul>

                <!--
                <h4 style="color:darkmagenta"><b>ในประโยคปฏิเสธจะใช้ did not + verb ช่อง 1 โดยรูปย่อของ did not 
                    คือ didn't หากเป็นประโยคคำถามจะใช้ Did เข้ามาช่วย
                </b></h4>
                -->
                
                <h4 style="color:red"><b>Passive</b></h4>
                <h4 style="color:blueviolet"><b>The chair will be cleaned by him. / 
                    The chair is going to be cleaned by him.</b></h4>
            </p>
        </div>

        <div><!--Future Continuous-->
            <p>
                <h2 style="text-align:center; background: blue; color: white;">Future Continuous</h2>
            </p>
            <p>
                <h4 style="color:blue">Future Continuous</h4>
                <h4 style="color:green"><i>Subject + will be + Verb(ing)</i></h4>
                <h4 style="color:palevioletred"><b>He will be cleaning the chair.</b></h4>              
                <h4 style="color:red"><b>การใช้</b></h4>
                
                <ul type = "disc">
                    <li>                      
                        <h3 style="color:blue"><i>ใช้กับการกระทำที่จะเกิดขึ้นอย่างต่อเนื่องที่เวลาอันจำเพาะเจาะจงในอนาคต
                            ปกติมักจะเกี่ยวโยงกับการกระทำอีกอย่างหนึ่ง <br></i></h3>                
                        <h3 style="color:red"><i>According to the schedule, our plane <u>will be arriving</u> soon.</i></h3>
                        <h3 style="color:green"><i>ตามกำหนดการ เครื่องบินของเรากำลังจะมาถึงในอีกไม่นาน</i></h3>
                        <h3 style="color:red"><i>Tomorrow at this time, he <u>will be flying</u> to Bangkok.</i></h3>
                        <h3 style="color:green"><i>ในเวลานี้ของวันพรุ่งนี้ เขาจะกำลังบินไปยังกรุงเทพ</i></h3>
                        
                    </li>

                </ul>
                <!--
                <h4 style="color:darkmagenta"><b>ในประโยคปฏิเสธจะใช้ did not + verb ช่อง 1 โดยรูปย่อของ did not 
                    คือ didn't หากเป็นประโยคคำถามจะใช้ Did เข้ามาช่วย
                </b></h4>
                -->
                
                <h4 style="color:red"><b>Passive</b></h4>
                <h4 style="color:blueviolet"><b>The chair will be being cleaned by him.</b></h4>
            </p>
        </div>

        <div><!--Future Perfect-->
            <p>
                <h2 style="text-align:center; background: blue; color: white;">Future Perfect</h2>
            </p>
            <p>
                <h4 style="color:blue">Future Perfect</h4>
                <h4 style="color:green"><i>Subject + will have + Verb 3</i></h4>
                <h4 style="color:palevioletred"><b>He will have cleaned the chair.</b></h4>              
                <h4 style="color:red"><b>การใช้</b></h4>
                
                <ul type = "disc">
                    <li>                      
                        <h3 style="color:blue"><i>ใช้เมื่อการกระทำอย่างหนึ่งจะเสร็จสิ้นลงในอนาคต ปกติมันจะเกี่ยวโยงกับการกระทำอีกอย่างหนึ่ง 
                            โดยขณะที่พูดการกระทำนั้นยังไม่เริ่ม จะเริ่มในอนาคต และจบลงในอนาคต
                             <br></i></h3>                
                        <h3 style="color:red"><i>By the time you arrive, ABC's family <u>will have left</u>.</i></h3>
                        <h3 style="color:green"><i>เมื่อคุณมาถึง ครอบครัวของ เอบีซี ก็จะออกไปแล้ว</i></h3>
                        <h3 style="color:red"><i>They <u>will have completed</u> the English course by next day.</i></h3>
                        <h3 style="color:green"><i>พวกเขาคงจะเรียนวิชาภาษาอังกฤษจบภายในวันถัดไป</i></h3>
                        
                    </li>

                </ul>
                <!--
                <h4 style="color:darkmagenta"><b>ในประโยคปฏิเสธจะใช้ did not + verb ช่อง 1 โดยรูปย่อของ did not 
                    คือ didn't หากเป็นประโยคคำถามจะใช้ Did เข้ามาช่วย
                </b></h4>
                -->
                
                <h4 style="color:red"><b>Passive</b></h4>
                <h4 style="color:blueviolet"><b>The chair will have been cleaned by him.</b></h4>
            </p>
        </div>

        <div><!--Future Perfect Continuous-->
            <p>
                <h2 style="text-align:center; background: blue; color: white;">Future Perfect Continuous</h2>
            </p>
            <p>
                <h4 style="color:blue">Future Perfect Continuous</h4>
                <h4 style="color:green"><i>Subject + will have been + Verb(ing)</i></h4>
                <h4 style="color:palevioletred"><b>He will have been cleaning the chair.</b></h4>              
                <h4 style="color:red"><b>การใช้</b></h4>
                
                <ul type = "disc">
                    <li>                      
                        <h3 style="color:blue"><i>ใช้พรรณนาการกระทำที่กำลังจะมาถึงในช่วงเวลาหนึ่งที่ระบุไว้เจาะจง
                            หรือสอดคล้องเกี่ยวโยงกับการกระทำอีกอย่างหนึ่ง <br></i></h3>                
                        <h3 style="color:red"><i>By 9 o'clock and ten minutes, I <u>will have been programming</u> for two hours.</i></h3>
                        <h3 style="color:green"><i>เมื่อถึง 9 โมง 10 นาที ฉันก็กำลังเขียนโปรแกรมมาแล้ว 2 ชั่วโมง</i></h3>
                        <h3 style="color:red"><i>When he comes to pick me up, I <u>will have been waiting</u> for 10 minutes.</i></h3>
                        <h3 style="color:green"><i>เมื่อเขามารับฉัน ฉันก็จะกำลังรอมาแล้ว 10 นาที</i></h3>
                        
                    </li>

                </ul>
                <!--
                <h4 style="color:darkmagenta"><b>ในประโยคปฏิเสธจะใช้ did not + verb ช่อง 1 โดยรูปย่อของ did not 
                    คือ didn't หากเป็นประโยคคำถามจะใช้ Did เข้ามาช่วย
                </b></h4>
                -->
                
                <h4 style="color:red"><b>Passive</b></h4>
                <h4 style="color:blueviolet"><b>The chair will have been being cleaned by him.</b></h4>
            </p>
        </div>

        <div><!--Link-->
            <hr>
            <p id="ph3_7">
            <a href="/index"; style="color:green">English Tense></a>
            <a href="/present"; id="ph3_7">Present Tense></a>
            <a href="/past"; id="ph3_7">Past Tense></a>
            <a href="/about"; style="color:blueviolet">About></a>
            </p>
            <hr>
        </div>

    </div>
{% endblock %}



















