{% extends "base.html" %}

{% block title %}
    <title>English Tense</title>
{% endblock %}

{% block content %}
    <h1 style="color: green;">Hi! {Golf} Natthaphat</h1>
    <hr>
    <br>
    
    <div row>
        <div><!--Past Simple-->
            <p>
                <p id="ph2_past_test">Past Simple</p>
                <!--Past Simple
                <h2 style="text-align:center; background: red; color: black;">Past Simple</h2>
                -->
            </p>
            <p>
                <p id="ph4_1_test">Past Simple</p>
                <!--ตัวอักษร หัวข้อ 
                <h4 style="color:blue; 
                font-weight: bold; 
                font-size: 3rem; 
                font-family: 'CordiaUPC';">Past Simple</h4> 
                -->

                <p id="ph4_2">Subject + Verb 2</p>
                <!--แสดงโครงสร้าง Past Simple
                <h4 style="color:green; 
                font-weight: bold;
                font-style: italic;
                font-size: 2rem;
                font-family: 'Times New Roman';"><i>Subject + Verb 2</i></h4>
                -->

                <h4 style="color:palevioletred; 
                font-weight: bold;
                text-indent: 50px;
                font-size: 2rem;
                font-family: 'Tahoma';"><b>He cleaned the chair.</b></h4>

                <h4 style="color:red"><b>การใช้</b></h4>
                
                <ul type = "disc">
                    <li>                      
                        <h3 style="color:blue"><i>ใช้พูดถึงเหตุการณ์ในอดีต ที่เกิดขึ้นแล้วก็จบ เป็นเหตุการณ์สั้นๆ ที่มีการระบุช่วงเวลาที่เกิดเหตุการณ์ด้วย <br></i></h3>
                        <h3 style="color:red"><i>I <u>was</u> in Bangkok in 2022.</i></h3>
                        <h3 style="color:green"><i>ฉันอยู่ที่กรุงเทพในปี 2022</i></h3>
                        
                    </li>

                    <li>                      
                        <h3 style="color:blue"><i>ใช้กับเหตุการ์หรือการกระทำที่ได้เกิดขึ้นในเวลาที่เจาะจงและได้เสร็จสิ้นสมบูรณ์ไปแล้วในอดีต
                            โดยมักมีคำกริยาวิเศษณ์บอกเวลา (adverb of time) เช่น yesterday, last (week, month, year), ago, last เป็นต้น <br></i></h3>
                        <h3 style="color:red"><i>Yesterday ABC <u>lost</u> her important thing she <u>cried</u>.</i></h3>
                        <h3 style="color:green"><i>เมื่อวานนี้ของสำคัญของเอบีซีหายไปเธอร้องไห้</i></h3>
                        
                    </li>

                    <li>                      
                        <h3 style="color:blue"><i>ใช้กับอุปนิสัยของบุคคลที่ได้เกิดขึ้นในอดีตหรือกระทำในอดีต ซึ่ง ปัจจุบันไม่ได้ทำเช่นนั้นแล้ว
                            โดยมักมีคำกริยาวิเศษณ์บอกความถี่ (adverb of frequency) เช่น always, often, sometimes, never และอื่นๆ<br></i></h3>
                        <h3 style="color:red"><i>He always <u>cried</u> when he <u>was</u> young.</i></h3>
                        <h3 style="color:green"><i>เขาร้องไห้เป็นประจำตอนเขายังเด็ก</i></h3>
                        
                    </li>    
                    
                    <li>                      
                        <h3 style="color:blue"><i>ใช้ used to + verb ช่อง 1 ซึ่งแปลว่าเคย สำหรับการกระทำที่เคยเกิดขึ้นในอดีต
                            แต่ปัจจุบันไม่เป็นเช่นนั้นแล้ว<br></i></h3>
                        <h3 style="color:red"><i>He <u>used to be</u> naughty.</i></h3>
                        <h3 style="color:green"><i>เขาเคยเป็นคนดื้อมาก่อน</i></h3>
                        
                    </li>

                </ul>

                <h4 style="color:darkmagenta"><b>ในประโยคปฏิเสธจะใช้ did not + verb ช่อง 1 โดยรูปย่อของ did not 
                    คือ didn't หากเป็นประโยคคำถามจะใช้ Did เข้ามาช่วย
                </b></h4>
                
                <h4 style="color:red"><b>Passive</b></h4>
                <h4 style="color:blueviolet"><b>The chair was cleaned by him.</b></h4>
            </p>
        </div>

        <div><!--Past Continuous-->
            <p>
                
                <p id="ph2_past_test">Past Continuous</p>
                <!--Past Simple
                <h2 style="text-align:center; background: red; color: black;">Past Continuous</h2>
                -->
                
            </p>
            <p>                
                <p id="ph4_1_test">Past Continuous</p>
                
                <!--ตัวอักษร หัวข้อ 
                <h4 style="color:blue; 
                font-weight: bold; 
                font-size: 3rem; 
                font-family: 'CordiaUPC';">Past Continuous</h4> 
                -->

                <h4 style="color:green; 
                font-weight: bold;
                font-style: italic;
                font-size: 2rem;
                font-family: 'Times New Roman';"><i>Subject + was/were + Verb(ing)</i></h4>
                <h4 style="color:palevioletred; 
                font-weight: bold;
                text-indent: 50px;
                font-size: 2rem;
                font-family: 'Tahoma';"><b>He was cleaning the chair.</b></h4>

                <h4 style="color:red"><b>การใช้</b></h4>
                
                <ul type = "disc">
                    <li>                      
                        <h3 style="color:blue"><i>ใช้เพื่อกล่าวถึงเหตุการณ์หรือการกระทำที่กำลังเกิดขึ้นในอดีต ในช่วงเวลาที่บ่งบอกเอาอย่างชัดเจน <br></i></h3>
                        <h3 style="color:red"><i>I <u>was taking</u> a shower at eight o'clock last night.</i></h3>
                        <h3 style="color:green"><i>ฉันกำลังอาบน้ำอยู่ตอนสองทุ่มเมื่อวาน</i></h3>
                        
                    </li>

                    <li>                      
                        <h3 style="color:blue"><i>ใช้เมื่อมีการกระทำเกิดขึ้นในอดีต 2 อย่าง โดยการกระทำหนึ่งกำลังดำเนินอยู่ในอดีต
                            ขณะที่การกระทำอีกอย่างได้เกิดขึ้นมาแทรก เหตุการณ์แรกที่เกิดขึ้นและดำเนินอยู่จะใช้ Past Continuous
                            เหตุการณ์ที่ได้เข้ามาแทรกจะใช้ Past Simple <br></i></h3>
                        <h3 style="color:red"><i>While I <u>was taking</u> a bath, the telephone rang.</i></h3>
                        <h3 style="color:green"><i>ในขณะที่ผมกำลังอาบน้ำ ก็มีเสียงโทรศัพท์ดังขึ้น</i></h3>
                        
                    </li>

                    <li>                      
                        <h3 style="color:blue"><i>ใช้ Past Continuous บรรยายการกระทำในอดีตที่ยาวกว่า (longer action) 
                            ส่วนการกระทำในอดีตที่สั้นกว่า (shorter action) ใช้ Past Simple โดยมากหลังคำว่า while/as จะใช้รูปกิริยาเป็น
                            Past Continuous <br></i></h3>
                        <h3 style="color:red"><i>While the farmers <u>were planting</u> crops, a windstorm struck.</i></h3>
                        <h3 style="color:green"><i>ในขณะที่ชาวนากำลังเพาะปลูก ลมพายุได้พัดกระหน่ำเข้ามา</i></h3>
                        
                    </li>    
                    
                    <li>                      
                        <h3 style="color:blue"><i>ใช้เพื่อเน้นยำ้การกระทำ 2 อย่างที่กำลังเกิดขึ้นพร้อมๆกันในอดีต <br></i></h3>
                        <h3 style="color:red"><i>While ABC <u>was sleeping</u>, I <u>was cleaning</u> the house.</i></h3>
                        <h3 style="color:green"><i>ขณะที่ เอบีซี กำลังนอนหลับ ฉันกำลังทำความสะอาดบ้าน</i></h3>
                        
                    </li>

                </ul>

                <!--
                <h4 style="color:darkmagenta"><b>--------------
                </b></h4>
                -->
                
                <h4 style="color:red"><b>Passive</b></h4>
                <h4 style="color:blueviolet"><b>The chair was being cleaned by him.</b></h4>
            </p>
        </div>

        <div><!--Past Perfect-->
            <p>
                <h2 style="text-align:center; background: red; color: black;">Past Perfect</h2>
            </p>
            <p>                
                <h4 style="color:blue; 
                font-weight: bold; 
                font-size: 3rem; 
                font-family: 'CordiaUPC';">Past Perfect</h4>
                <h4 style="color:green; 
                font-weight: bold;
                font-style: italic;
                font-size: 2rem;
                font-family: 'Times New Roman';"><i>Subject + had + Verb 3</i></h4>
                <h4 style="color:palevioletred; 
                font-weight: bold;
                text-indent: 50px;
                font-size: 2rem;
                font-family: 'Tahoma';"><b>He had cleaned the chair.</b></h4>       

                <h4 style="color:red"><b>การใช้</b></h4>

                <h3 style="color:blue"><i>ใช้กับการกระทำที่ได้เกิดขึ้นก่อนการกระทำอีกอย่างหนึ่งในอดีต
                    การกระทำหรือเหตุการณ์ที่เกิดขึ้นก่อนใช้ Past Perfect
                    การกะทำหรือเหตุการณ์ที่เกิดขึ้นหลังใช้ Past Simple <br></i></h3>
                <h3 style="color:blue"><i>มักพบคำต่อไปนี้ เช่น after, before, already, as soon as, many times, once, twice,
                    ever, already, just, by the time เป็นต้น <br></i></h3>

                <ul type = "disc">
                    <li>                      
                        <h3 style="color:red"><i>After ABC <u>had revised</u> the essay twice, he handed it in.</i></h3>
                        <h3 style="color:green"><i>หลังจากที่ เอบีซี ได้แก้ไขเรียงความไปแล้วสองครั้ง เขาจึงส่งครู</i></h3>
                        
                    </li>

                    <li> 
                        <h3 style="color:red"><i>The play <u>had already begun</u> by the time they arrived.</i></h3>
                        <h3 style="color:green"><i>ละครได้เริ่มเล่นไปแล้วเมื่อพวกเขามาถึง</i></h3>
                        
                    </li>

                    <li> 
                        <h3 style="color:red"><i>After I <u>had arrived</u> at the station, I met her.</i></h3>
                        <h3 style="color:green"><i>หลังจากที่ฉันได้ไปถึงสถานีแล้ว ฉันจึงได้พบเธอ</i></h3>
                        
                    </li>  

                </ul>

                <h4 style="color:darkmagenta"><b>รูปย่อของ had not คือ hadn't
                </b></h4>
                
                <h4 style="color:red"><b>Passive</b></h4>
                <h4 style="color:blueviolet"><b>The chair had been cleaned by him.</b></h4>
            </p>
        </div>

        <div><!--Past Perfect Continuous-->
            <p>
                <h2 style="text-align:center; background: red; color: black;">Past Perfect Continuous</h2>
            </p>
            <p>
                <!--
                <h4 style="color:blue">Past Perfect Continuous</h4>
                <h4 style="color:green"><i>Subject + had been + Verb(ing)</i></h4>
                <h4 style="color:palevioletred"><b>He had been cleaning the chair.</b></h4>
                -->
                
                <h4 style="color:blue; 
                font-weight: bold; 
                font-size: 3rem; 
                font-family: 'CordiaUPC';">Past Perfect Continuous</h4>
                <h4 style="color:green; 
                font-weight: bold;
                font-style: italic;
                font-size: 2rem;
                font-family: 'Times New Roman';"><i>Subject + had been + Verb(ing)</i></h4>
                <h4 style="color:palevioletred; 
                font-weight: bold;
                text-indent: 50px;
                font-size: 2rem;
                font-family: 'Tahoma';"><b>He had been cleaning the chair.</b></h4>

                <h4 style="color:red"><b>การใช้</b></h4>
                
                <ul type = "disc">
                    <li>                      
                        <h3 style="color:blue"><i>ใช้เน้นการกระทำที่ดำเนินอยู่ก่อนที่การกระทำอีกอย่างเกิดขึ้น <br></i></h3>
                        <h3 style="color:red"><i>We <u>had been waiting</u> for the plane an hour before it landed.</i></h3>
                        <h3 style="color:green"><i>เรารอเครื่องบินมาแล้วหนึ่งชั่วโมงก่อนที่มันจะร่อนลงจอด</i></h3>
                        
                    </li>

                    <li>                      
                        <h3 style="color:blue"><i>ใช้แสดงเหตุการณ์หรือการกระทำที่ได้เกิดขึ้นมาอย่างยาวนาน หรือ
                            เกิดขึ้นซ้ำไปซ้ำมาในอดีต และได้สิ้นสุดลงไปแล้ว <br></i></h3>
                        <h3 style="color:red"><i>The men <u>had been working</u> for four hours before thier boss came.</i></h3>
                        <h3 style="color:green"><i>คนงานชายเหล่านั้นได้ทำงานมาตลอดสี่ชั่วโมง ก่อนที่เจ้านายมา</i></h3>
                        <h3 style="color:red"><i>She had been working for one year.</i></h3>
                        <h3 style="color:green"><i>เธอเคยทำงานมาเป็นเวลา1ปี</i></h3>
                        
                    </li>  
                    

                </ul>

                <!--
                <h4 style="color:darkmagenta"><b>--------------
                </b></h4>
                -->

                <h4 style="color:red"><b>Passive</b></h4>
                <h4 style="color:blueviolet"><b>The chair had been being cleaned by him.</b></h4>
            </p>
        </div>

        <div><!--Link-->
            <hr>
            <p id="ph3_7">
            <a href="/index"; style="color:green">English Tense></a>
            <a href="/present"; id="ph3_7">Present Tense></a>
            <a href="/future"; id="ph3_7">Future Tense></a>
            <a href="/about"; style="color:blueviolet">About></a>
            </p>
            <hr>
        </div>

    </div>
{% endblock %}



















