{% extends "base.html" %}

{% block title %}
    <title>English Tense</title>
{% endblock %}


{% block content %}
    <p id="ph1">Hi! {Golf} Natthaphat</p>
    <hr>
    <br>
    
    <div row>
        <div><!--Present Simple-->
            <p>
                <p id="ph2_pre_test">Present Simple****</p>
            </p>
            <p>              
                <p id="ph4_1_test">Present Simple</p>
                <p id="ph4_2">Subject + Verb 1</p>                  
                <p id="ph4_3">He cleans the chair.</p>
                <p id="ph3_1">ถ้าประธานเป็นเอกพจน์ บุรุษที่3 ให้เติม s, es หลัง Verb</p>                
                <p id="ph4_4">การใช้</p>
                <ul type = "disc">
                    <li>                 
                        <p id="ph3_1">ใช้เพื่อสั่งการ ขอร้อง แนะนำ หรือ บอกแนวทาง</p>
                        <p id="ph3_2"><u>Open</u> your books.</p>                  
                        <p id="ph3_3">เปิดหนังสือ</p>
                    </li>

                    <li>
                        <p id="ph3_1">ใช้กับความเป็นจริงตามธรมมชาติ</p>
                        <p id="ph3_2">Snow <u>is</u> white.</p>
                        <p id="ph3_3">หิมะสีขาว</p>
                    </li>

                    <li>
                        <p id="ph3_1">ใช้กับการกระทำที่เป็นนิสัย หรือเป็นประจำ มักมีคำบอกความถี่(Adverbs of Frequency)เช่น
                            frequently, usually, sometimes, always, often, never, seldom, rarely เป็นต้น</p>
                        <p id="ph3_2">He <u>always wakes up</u> early in the morning.</p>
                        <p id="ph3_3">เขาตื่นนอนแต่เช้าเสมอ</p>
                    </li>

                    <li>
                        <p id="ph3_4">ใช้ Do หรือ Does เข้ามาช่วยในประโยคปฏิเสธ และ ประโยคคำถาม</p>
                        <p id="ph3_5">I <u>do not</u> run.</p>
                        <p id="ph3_5"><u>Does</u> she run?</p>
                        <p id="ph3_4">รูปย่อของ do not คือ don't</p>
                        <p id="ph3_4">รูปย่อของ does not คือ doesn't</p>
                    </li>
                </ul>

                <p id="ph3_5">Passive</p>
                <p id="ph3_6">The chair is cleaned by him.</p>
                <br>

                <p id="ph4_2_positive">+++Positive Form (**Affirmative**):+++</p>
                <p id="ph4_2">[Subject + base form of the verb (+s/es for third person singular)]</p>   
                <p id="ph3_2">I <u>play</u> tennis.</p>
                <p id="ph3_2">She <u>play</u> tennis.</p>
                <p id="ph3_2">I <u>play</u> tennis every Sunday.</p>
                <p id="ph3_3">ฉันเล่นเทนนิสทุกวันอาทิตย์</p>
                <p id="ph3_2">She <u>studies</u> English every day.</p>
                <p id="ph3_3">เธอเรียนภาษาอังกฤษทุกวัน</p>
                
                <p id="ph4_2_negative">+++Negative Form:+++</p>
                <p id="ph4_2">[Subject + do not (don't)/does not (doesn't) + Verb (base form) + Object]</p>                
                <p id="ph3_2">I <u>do not</u> play tennis.</p>
                <p id="ph3_2">She <u>does not</u> play tennis.</p>
                <p id="ph3_2">She <u>doesn't</u> study English every day.</p>
                <p id="ph3_3">เธอไม่เรียนภาษาอังกฤษทุกวัน</p>
                <p id="ph3_2">She <u>does not (doesn't)</u> like coffee.</p>
                <p id="ph3_3">เธอไม่ชอบกาแฟ</p>

                <p id="ph4_2_question">+++Question Form (**Interrogative**):+++</p>
                <p id="ph4_2">[Do + Subject + Verb (base form) + Object? / Does + Subject + Verb (base form) + Object?]</p>                
                <p id="ph3_2"><u>Do</u> I play tennis?</p>
                <p id="ph3_2"><u>Does</u> she play tennis?</p>
                <p id="ph3_2"><u>Does</u> she study English every day?</p>
                <p id="ph3_3">เธอเรียนภาษาอังกฤษทุกวันหรือไม่</p>
                <p id="ph3_2"><u>Do</u> you speak English?</p>
                <p id="ph3_3">คุณพูดภาษาอังกฤษหรือไม่?</p>

            </p>
        </div>

        <div><!--Present Continuous-->
            <p>
                <p id="ph2_pre_test">Present Continuous</p>
            </p>
            <p>
                <p id="ph4_1_test">Present Continuous</p>                
                <p id="ph4_2">Subject + is/am/are + Verb(ing)</p>                  
                <p id="ph4_3">He is cleaning the chair.</p>                    
                <p id="ph4_4">การใช้</p>
                <p id="ph3_1">ใช้กับการกระทำที่กำลังเกิดขึ้นในขณะนั้นหรือในขณะที่กำลังพูด 
                    คำสังเกตคือ right now, now, at this moment, currently เป็นต้น</p>                
                <p id="ph3_2">She <u>is sleeping</u> (now).</p> 
                <p id="ph3_1">กริยาบางตัวไม่สามารถใช้ในรูป Present Continuous Tense 
                    ได้ แต่จะใช้ Present Simple Tense แทน ได้แก่</p>
                
                <ul type = "disc">
                    <li>                      
                        
                        <p id="ph3_1">กริยาที่แสดงประสาทสัมผัสทั้งห้า เช่น 
                            see, hear, feel, taste, smell</p>
                    </li>

                    <li>                      
                        
                        <p id="ph3_1">กริยาที่แสดงความรู้สึกนึกคิด ความรู้สึก เช่น 
                            know, understand, think, believe, agree, notice, doubt, suppose, forget, 
                            remember, consider, recognize, appreciate, forgive</p>
                    </li>

                    <li>                      
                        
                        <p id="ph3_1">กริยาที่แสดงความชอบและไม่ชอบ เช่น
                            like, dislike, love, hate, prefer, trust, detest</p>
                    </li>

                    <li>                      
                        
                        <p id="ph3_1">กริยาที่แสดงความปรารถนา เช่น
                            wish,want, desire, prefer, need</p>
                    </li>

                    <li>                      
                        
                        <p id="ph3_1">กริยาที่แสดงความเป็นเจ้าของ เช่น
                            possess, have, own, belong</p>
                    </li>
                </ul>

                
                
                <p id="ph3_4">รูปย่อของ is / are + not คือ isn't / aren't</p>

                
                <p id="ph3_5">Passive</p>
                <p id="ph3_6">The chair is being cleaned by him.</p>
                <br>

                <p id="ph4_2_positive">+++Positive Form (**Affirmative**):+++</p>
                <p id="ph4_2">[Subject + am/is/are + Verb (base form) + ing + Object]</p>   
                <p id="ph3_2">I <u>am playing</u> tennis.</p>
                <p id="ph3_2">She <u>is playing</u> tennis.</p>
                <p id="ph3_2">They <u>are watching</u> TV now.</p>
                <p id="ph3_3">พวกเขากำลังดูทีวีอยู่ตอนนี้</p>
                <p id="ph3_2">They <u>are playing</u> football right now.</p>
                <p id="ph3_3">พวกเขากำลังเล่นฟุตบอลอยู่ตอนนี้</p>

                <p id="ph4_2_negative">+++Negative Form:+++</p>
                <p id="ph4_2"><mark>[Subject + am not (I'm not)/is not (isn't)/are not (aren't) + Verb (base form) + ing + Object]</mark></p>                
                <p id="ph3_2">I <u>am not playing</u> tennis.</p>
                <p id="ph3_2">She <u>is not playing</u> tennis.</p>
                <p id="ph3_2">She <u>is not (isn't) studying</u> at the moment.</p>
                <p id="ph3_3">เธอไม่ได้เรียนช่วงนี้</p>
                <p id="ph3_2">They <u>aren't playing</u> football right now.</p>
                <p id="ph3_3">พวกเขาไม่ได้เล่นฟุตบอลอยู่ตอนนี้</p>

                <p id="ph4_2_question">+++Question Form (**Interrogative**):+++</p>
                <p id="ph4_2">[Am/Is/Are + subject + base form of the verb + -ing + Object?]</p>                
                <p id="ph3_2"><u>Am I playing</u> tennis?</p>
                <p id="ph3_2"><u>Is she playing</u> tennis?</p>
                <p id="ph3_2"><u>Is he playing</u> football?</p>
                <p id="ph3_3">เขากำลังเล่นฟุตบอลหรือไม่?</p>
                <p id="ph3_2"><u>Are they playing</u> football right now?</p>
                <p id="ph3_3">พวกเขากำลังเล่นฟุตบอลอยู่ตอนนี้หรือไม่</p>
              
            </p>
        </div>

        <div><!--Present Perfect-->
            <p>
        
                <p id="ph2_pre_test">Present Perfect</p>
            </p>
            <p>
                
                <p id="ph4_1_test">Present Perfect</p>                
                <p id="ph4_2">Subject + have/has + Verb 3</p>                  
                <p id="ph4_3">He has cleaned the chair</p>                    
                <p id="ph4_4">การใช้</p>
                
                <ul type = "disc">
                    <li>                      
                        
                        <p id="ph3_1">สำหรับเหตุการณ์ที่เกิดในอดีต แต่ดำเนินต่อเนื่องมาถึงปัจจุบัน
                            ประโยคมักมีคำว่า since (ตั้งแต่), for (เป็นเวลา)</p>
                        <p id="ph3_2">I <u>have lived</u> in Bangkok for ninety years.</p>                  
                        <p id="ph3_3">ฉันอาศัยอยู่ในกรุงเทพมาเป็นเวลาเก้าสิบปีแล้ว</p>
                    </li>

                    <li>                      
                        
                        <p id="ph3_1">ใช้กับเหตุการณ์ที่เพิ่งสิ้นสุดลงโดยไม่ระบุเวลา หรือบอกเล่าเหตุการณ์ที่พึ่งเกิดขึ้นเร็วๆนี้
                            โดยมักมีคำว่า just, already, yet, lately, recently เป็นต้น โดย yet จะใช้กับประโยคคำถามหรือประโยคปฏิเสธ</p>

                        
                        <p id="ph3_2">She <u>has not finished</u> yet.</p>                  
                        <p id="ph3_3">เธอยังทำไม่เสร็จ</p>

                        
                        <p id="ph3_2">The train <u>has just arrived</u>.</p>                  
                        <p id="ph3_3">รถไฟพึ่งมาถึง</p>

                        
                        <p id="ph3_2">She <u>have already closed</u> the door.</p>                  
                        <p id="ph3_3">เธอปิดประตูเรียบร้อยแล้ว</p>

                        
                        <p id="ph3_2">The meeting <u>has just started</u>.</p>                  
                        <p id="ph3_3">การประชุมเพิ่งจะเริ่มขึ้น</p>
            
                    </li>

                    <li>                      
                        
                        <p id="ph3_1">เหตุการณ์นั้นเกิดขึ้นในอดีต และได้เสร็จสิ้นไปแล้วแต่ยังมีผลของเหตุการณ์นั้นให้เห็น
                                ในขณะที่พูดหรือยังส่งผลมาถึงปัจจุบัน</p>
                        
                        <p id="ph3_2">I <u>have turned</u> on the light.</p>
                        
                        <p id="ph3_3">ฉันเปิดไฟแล้ว (เปิดไฟในอดีตแต่ผลของการเปิดทำให้ไฟสว่างนั้นยังคงเห็นในขณะที่พูด)</p>
                                                
                    </li>

                    <li>                      
                        
                        <p id="ph3_1">ใช้พูดถึงเหตุการณ์หรือการกระทำที่เกิดขึ้นซ้ำๆกัน ในช่วงเวลาหนึ่งระหว่างอดีตกับปัจจุบัน โดยมักใช้
                            คำว่า many times, several times, a lot of times, ...times, again and again, over and over, 
                            twice, three times และอื่นๆ</p>
                        
                        <p id="ph3_2">She <u>has read</u> this book more than 3 times.</p>
                        
                        <p id="ph3_3">หล่อนอ่านหนังสือเล่มนี้มามากกว่าสามรอบแล้ว</p>
                    </li>
                    
                </ul>

                
                <p id="ph3_5">Passive</p>
                
                <p id="ph3_6">The chair has been cleaned by him.</p>
                <br>

                <p id="ph4_2_positive">+++Positive Form (**Affirmative**):+++</p>
                <p id="ph4_2">[Subject + have/has + Verb (past participle form) + Object]</p>  
                <p id="ph4_4">**Usage**:</p>
                <p id="ph3_1">The Present Perfect tense is used to express an action or event that 
                    has a connection to the present moment. It emphasizes the result or completion 
                    of the action rather than the specific time it happened.</p>
                <p id="ph3_2">I <u>have visited</u> Paris. </p>
                <p id="ph3_3">(This means at some point in my life, I visited Paris, and the experience is relevant to now.)</p>
                <p id="ph3_2">She <u>has never eaten</u> sushi.</p>
                <p id="ph3_3">(This implies up to the present moment, she has not tried sushi.)</p>
                <p id="ph3_2">She <u>has visited</u> Paris three times.</p>
                <p id="ph3_3">(เธอเคยไปเที่ยวปารีสสามครั้ง)</p>
                <p id="ph3_2">They <u>have finished</u> the project.</p>
                <p id="ph3_3">(พวกเขาได้เสร็จโปรเจคแล้ว)</p>              

                <p id="ph4_2_negative">+++Negative Form:+++</p>
                <p id="ph4_2">[Subject + have not (haven't)/has not (hasn't) + Verb (past participle form) + Object]</p>                
                <p id="ph3_2">I <u>have not seen</u> that movie yet.</p>
                <p id="ph3_2">We <u>have not (haven't) met</u> him yet.</p>
                <p id="ph3_3">(เรายังไม่ได้พบเขา)</p>
                <p id="ph3_2">They <u>haven't finished</u> the project.</p>
                <p id="ph3_3">(พวกเขายังไม่ได้เสร็จโปรเจค)</p>

                <p id="ph4_2_question">+++Question Form (**Interrogative**):+++</p>
                <p id="ph4_2">[Have/Has + subject + Verb (past participle form) + Object?]</p>                
                <p id="ph3_2"><u>Have</u> you ever <u>traveled</u> abroad?</p>                
                <p id="ph3_2"><u>Have</u> you ever <u>been</u> to Japan?</p>
                <p id="ph3_3">(คุณเคยไปญี่ปุ่นหรือไม่?)</p>
                <p id="ph3_2"><u>Have</u> they <u>finished</u> the project?</p>
                <p id="ph3_3">(พวกเขาเสร็จโปรเจคแล้วหรือไม่)</p>
            </p>
        </div>

        <div><!--Present Perfect Continuous-->
            <p>
                
                <p id="ph2_pre_test">Present Perfect Continuous</p>
            </p>
            <p>
        
                <p id="ph4_1_test">Present Perfect Continuous</p>                
                <p id="ph4_2">Subject + have/has + been + Verb(ing)</p>                  
                <p id="ph4_3">He has been cleaning the chair.</p>                    
                <p id="ph4_4">การใช้</p>
                
                <ul type = "disc">
                    <li>                      
                        
                        <p id="ph3_1">ใช้เพื่อเน้นถึงการต่อเนื่องโดยไม่ขาดตอนของการกระทำที่เริ่มมาตั้งแต่อดีตถึงปัจจุบัน
                            มักมีคำหรือหน่วยคำที่บ่งบอกถึงความต่อเนื่อง หรือไม่ก็บริบทบ่งชี้ เช่น for, since, all morning, all day, all week
                            หรือวลีบ่งบอกถึงความยาวของเวลาที่แสดงอยู่</p>

                        
                        <p id="ph3_2">The church bells <u>have been ringing</u> all morning.</p>  
                        
                        <p id="ph3_3">ระฆังโบสท์ตีดังเหง่งหง่างต่อเนื่องมาโดยตลอดทั้งเช้า</p>
                        
                        <p id="ph3_2">ABC <u>has been sitting</u> here for two hours.</p>  
                        
                        <p id="ph3_3">เอบีซีนั่งอยู่ตรงนี้มาเป็นเวลาสองชั่วโมงแล้ว</p>

                    </li>

                    <li>                      
                        
                        <p id="ph3_1">อาจนำมาใช้กับเหตุการณ์ที่สิ้นสุดแล้ว แต่ส่งผลมายังปัจจุบัน</p>
                        
                        <p id="ph3_2">You look tired. <u>Have you been sleeping</u> properly?</p> 
                        
                        <p id="ph3_3">คุณดูเหนื่อยจัง คุณได้นอนหลับมาเพียงพอหรือเปล่า</p>
                        
                    </li>                   
                </ul>

                <p id="ph3_5">Passive</p>               
                <p id="ph3_6">The chair has been being cleaned by him.</p>
                <br>

                <p id="ph4_2_positive">+++Positive Form (**Affirmative**):+++</p>
                <p id="ph4_2">[Subject + have/has + been + Verb (base form) + ing + Object]</p>  
                <p id="ph4_4">**Usage**:</p>
                <p id="ph3_1">The Present Perfect Continuous tense is used to emphasize the 
                    duration or ongoing nature of an action that started in the past and continues up to the present.</p>
                <p id="ph3_2">I <u>have been studying</u> all day.</p>
                <p id="ph3_3">(This indicates that the action of studying started in the past and continues up to now.)</p>
                <p id="ph3_2">They <u>have been working</u> hard.</p>
                <p id="ph3_3">(This emphasizes the continuous effort they have put in.)</p>
                <p id="ph3_2">They <u>have been playing</u> tennis for two hours.</p>
                <p id="ph3_3">(พวกเขาได้เล่นเทนนิสมาสองชั่วโมงแล้ว)</p>
                <p id="ph3_2">They <u>have been playing</u> soccer since morning.</p>
                <p id="ph3_3">(พวกเขาเล่นฟุตบอลตั้งแต่เช้า)</p>
                <p id="ph3_2">I <u>have been working</u> here for five years.</p>
                <p id="ph3_3">(ผมทำงานที่นี่มาห้าปีแล้ว)</p>               

                <p id="ph4_2_negative">+++Negative Form:+++</p>
                <p id="ph4_2">[Subject + have not (haven't)/has not (hasn't) + been + Verb (base form) + ing + Object]</p>                
                <p id="ph3_2">She <u>has not been playing</u> the piano for long.</p>
                <p id="ph3_2">He <u>has not (hasn't) been working</u> here since June.</p>
                <p id="ph3_3">(เขาไม่ได้ทำงานที่นี่ตั้งแต่มิถุนายน)</p>
                <p id="ph3_2">He <u>has not (hasn't) been working</u> here for long.</p>
                <p id="ph3_3">(เขายังไม่ได้ทำงานที่นี่นาน)</p>
                <p id="ph3_2">I <u>haven't been working</u> here for very long.</p>
                <p id="ph3_3">(ผมยังไม่ได้ทำงานที่นี่นานเท่าไหร่)</p>

                <p id="ph4_2_question">+++Question Form (**Interrogative**):+++</p>
                <p id="ph4_2">[Have/Has + subject + been + base form of the verb + -ing + Object?]</p>                
                <p id="ph3_2"><u>Have</u> you <u>been practicing</u> your English?</p>                
                <p id="ph3_2">How long <u>have</u> you <u>been learning</u> English?</p>
                <p id="ph3_3">(คุณเรียนภาษาอังกฤษมานานแค่ไหน?)</p>
                <p id="ph3_2">How long <u>have</u> you <u>been waiting</u> for the bus?</p>
                <p id="ph3_3">(คุณรอรถเมล์นานแค่ไหน?)</p>
                <p id="ph3_2"><u>Have</u> I <u>been working</u> here for five years?</p>
                <p id="ph3_3">(ผมทำงานที่นี่มาห้าปีแล้วหรือไม่)</p>

                <p id="ph3_1"><b><u>Remember</u></b>, the Present Perfect Continuous tense focuses on the 
                    ongoing nature of an action, while the Present Perfect tense emphasizes 
                    the result or completion of an action.</p>
                
            </p>
        </div>

        <div><!--Link-->
            <hr>
            <p id="ph3_7">
            <a href="/index"; style="color:green">English Tense></a>
            <a href="/past"; id="ph3_7">Past Tense></a>
            <a href="/future"; id="ph3_7">Future Tense></a>
            <a href="/about"; style="color:blueviolet">About></a>
            </p>
            <hr>
        </div>

    </div>
{% endblock %}




